<!-- Create container for session log component -->
<div class="container mt-5">
  <!-- Use bootstrap cards for design-->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">New Session</h5>
      <!-- Timer -->
      <h1 class="card-title text-center">00:00:00</h1>
      <!-- Button to start a new session -->
      <button type="button" class="btn btn-lg btn-outline-primary btn-block">
        Start a session
      </button>
      <!-- Button to log an old session-->
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary btn-block"
        data-toggle="modal"
        data-target="#sessionLogModal"
      >
        Log an old session
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="sessionLogModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="sessionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Modal title -->
        <h5 class="modal-title" id="sessionModalLabel">Log Session</h5>
        <!-- Close modal button -->
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Log session form -->
      <form
        class="form"
        (ngSubmit)="onSubmit(sessionLogForm)"
        method="post"
        #sessionLogForm="ngForm"
      >
        <div class="modal-body mb-1">
          <!-- Name input -->
          <div class="form-group">
            <label for="NameInput">Name</label>
            <input
              type="text"
              class="form-control"
              id="NameInput"
              aria-describedby="name"
              placeholder="Enter name"
              name="name"
              [(ngModel)]="session.name"
              minlength="1"
              #name="ngModel"
              required
            />
          </div>
          <!-- Details input -->
          <div class="form-group">
            <label for="DetailsInput">Details</label>
            <input
              type="text"
              class="form-control"
              id="DetailsInput"
              placeholder="Enter details"
              name="details"
              [(ngModel)]="session.details"
              #details="ngModel"
            />
          </div>
          <!-- Duration input -->
          <div class="form-group">
            <label for="DurationInput">Duration</label>
            <input
              type="text"
              class="form-control"
              id="DurationInput"
              placeholder="00:00:00"
              [(ngModel)]="session.duration"
              name="duration"
              pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}"
              required
              #duration="ngModel"
            />
            <small>Format HH:MM:SS</small>
          </div>
          <!-- Course selection -->
          <div class="form-group">
            <label for="courseInput">Course</label>
            <select
              id="courseInput"
              class="form-control custom-select"
              [(ngModel)]="session.course"
              name="course"
            >
              <option selected>...</option>
              <!-- Options for users courses will be added here -->
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <!-- Submit button disabled if form not valid -->
          <button
            id="submitFormButton"
            type="submit"
            class="btn btn-primary"
            [disabled]="!sessionLogForm.form.valid"
          >
            Save session
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
