<!-- Create container for session detail component -->
<div class="container mt-3">
  <h1>Edit session</h1>
  <!-- Use bootstrap cards for design-->
  <div class="card mt-5">
    <div class="card-body">
      <form
        class="form"
        (ngSubmit)="onSubmit(sessionUpdate)"
        method="post"
        #sessionUpdate="ngForm"
      >
        <!-- Name input -->
        <div class="form-group">
          <label for="NameInput">Name</label>
          <input
            type="text"
            class="form-control"
            id="NameInput"
            aria-describedby="name"
            placeholder="Enter name"
            name="name"
            [(ngModel)]="tempSession.name"
            minlength="1"
            #name="ngModel"
            required
          />
        </div>
        <!-- Details input -->
        <div class="form-group">
          <label for="DetailsInput">Details</label>
          <input
            type="text"
            class="form-control"
            id="DetailsInput"
            placeholder="Enter details"
            name="details"
            [(ngModel)]="tempSession.details"
            #details="ngModel"
          />
        </div>
        <!-- Duration input -->
        <div class="form-group">
          <label for="DurationInput">Duration</label>
          <input
            type="text"
            class="form-control"
            id="DurationInput"
            placeholder="00:00:00"
            [(ngModel)]="tempSession.duration"
            name="duration"
            pattern="[0-9]{2}:[0-9]{2}:[0-9]{2}"
            required
            #duration="ngModel"
          />
          <small>Format HH:MM:SS</small>
        </div>
        <!-- Course selection -->
        <div class="form-group">
          <label for="courseInput">Course</label>
          <select
            id="courseInput"
            class="form-control custom-select"
            [(ngModel)]="tempSession.course"
            name="course"
          >
            <option selected>...</option>
            <!-- Options for users courses will be added here -->
          </select>
        </div>
        <a [routerLink]="['/sessions']" class="btn btn-secondary m-2">
          Close
        </a>
        <!-- Delete button -->
        <button
          id="deleteSessionButton"
          class="btn btn-danger m-2"
          (click)="delete()"
        >
          Delete
        </button>
        <!-- Submit button disabled if form not valid -->
        <button
          id="submitFormButton"
          type="submit"
          class="btn btn-primary m-2"
          [disabled]="!sessionUpdate.form.valid"
        >
          Save session
        </button>
      </form>
    </div>
  </div>
</div>
