<!-- Navbar for main routes of applicaiton -->
<nav
  *ngIf="!(_router.url == '/login' || _router.url == '/signup')"
  class="navbar navbar-expand-lg navbar-light bg-light"
>
  <a class="navbar-brand" href="#">Work Logger</a>
  <!-- 
      This button is used if the screen is too small
      For example, when the app is used on a mobile device
   -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- This div contains the navbar and their links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
          >dashboard</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/courses" routerLinkActive="active"
          >courses</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sessions" routerLinkActive="active"
          >sessions</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/statistics" routerLinkActive="active"
          >statistics</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/settings" routerLinkActive="active"
          >settings</a
        >
      </li>
    </ul>
  </div>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
