<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6 card p-5">
      <!-- Form -->
      <form
        class="form"
        (ngSubmit)="onSubmit(loginForm)"
        action=""
        method="post"
        #loginForm="ngForm"
      >
        <h1>Login</h1>
        <!-- Input fields -->
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            class="form-control username"
            id="username"
            placeholder="Username"
            name="username"
            [(ngModel)]="user.username"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control password"
            id="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="user.password"
            required
          />
        </div>
        <div class="form-group w-100 text-right">
          <button class="btn btn btn-outline-secondary" (click)="signup()">
            Signup
          </button>
          <button
            type="submit"
            class="btn btn-outline-primary ml-2"
            [disabled]="!loginForm.form.valid"
          >
            Login
          </button>
        </div>
      </form>
      <!-- Form end -->
    </div>
  </div>
</div>
