<div class="container mt-3">
  <h1>Sessions</h1>
  <!-- Sessions card -->
  <div class="card mt-5">
    <div class="card-body">
      <h5 class="card-title">Session Log</h5>
      <!-- List of sessions -->
      <div class="list-group">
        <!-- Button for each session -->
        <a
          class="list-group-item list-group-item-action position-relative"
          *ngFor="let item of sessions"
          [routerLink]="['/sessions', item._id]"
        >
          <div class="d-flex justify-content-between">
            <!-- Session name -->
            <h5>{{ item.name }}</h5>
            <!-- Session date, formatted using a date pipe -->
            <small>
              {{ item.dateCompleted | date: "EEEE, MMMM d, y, h:mm a" }}
            </small>
          </div>
          <div class="ml-1">
            <!-- Course that session belongs to -->
            <!-- (Used in formatting)-->
            <!-- prettier-ignore -->
            <small class="font-weight-bold" *ngIf="item.course">{{item.course}}</small>

            <br *ngIf="item.course" />
            <!-- Duration of session -->
            <small>{{ item.duration | duration }}</small>
            <br />
            <!-- Session details -->
            <small>{{ item.details }}</small>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
