<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6 card p-5">
      <!-- Form -->
      <form
        class="form"
        (ngSubmit)="onSubmit(signupForm)"
        action=""
        method="post"
        #signupForm="ngForm"
      >
        <h1>Signup</h1>
        <!-- Input fields -->
        <div class="form-group">
          <!-- Username input -->
          <label for="username">Username:</label>
          <input
            type="text"
            class="form-control username"
            id="username"
            placeholder="Username"
            name="username"
            [(ngModel)]="user.username"
            required
            #username="ngModel"
            minlength="1"
            maxlength="20"
          />
          <!-- Displays prompt when username input is invalid -->
          <div
            [hidden]="username.valid || username.pristine"
            class="alert alert-danger mt-1"
          >
            Username is required
          </div>
        </div>
        <div class="form-group">
          <!-- Password input -->
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control password"
            id="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="user.password"
            required
            #password="ngModel"
            minlength="5"
          />
          <!-- Displays prompt when password input is invalid -->
          <div
            [hidden]="password.valid || password.pristine"
            class="alert alert-danger mt-1"
          >
            Password must be at least 5 characters
          </div>
        </div>
        <div class="form-group w-100 text-right">
          <button class="btn btn btn-outline-secondary" (click)="login()">
            Login
          </button>
          <button
            type="submit"
            class="btn btn-outline-primary ml-2"
            [disabled]="!signupForm.form.valid"
          >
            Signup
          </button>
        </div>
      </form>
      <!-- Form end -->
    </div>
  </div>
</div>
