<!-- Create container for dashboard -->
<div class="container mt-3">
  <h1>Dashboard</h1>
  <!-- Insert subcomponents -->
  <app-log-session></app-log-session>
  <app-dash-statistics></app-dash-statistics>
  <app-past-courses></app-past-courses>
  <app-past-sessions></app-past-sessions>
</div>
