<div class="container mt-3">
  <h1>Statistics</h1>
  <!-- Day card -->
  <div class="card mt-5">
    <div class="card-body">
      <h5 class="card-title">Daily progress</h5>
      <!-- Progress bar -->
      <div id="dailyProgress" class="mb-2">
        <div id="progressBar"></div>
      </div>
      <small class="font-weight-bold ml-2"
        >{{ timeCompletedString | duration }} / 03:00:00</small
      >
      <!-- Chart for seeing progress through the week.
      <canvas id="myChart"></canvas>
      -->
    </div>
  </div>
</div>

<button (click)="getWeekSessions()"></button>
