#dailyProgress {
  width: 100%;
  background-color: rgb(248, 247, 247);
  border-radius: 5px;
}

#progressBar {
  width: 0;
  height: 30px;
  background-color: #4caf50;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 5px;
}
